{% extends 'layout.html' %}
{% block title %}
<title>채팅방 로비</title>
{% endblock %}
{% block layout %}
    <div>
        {% if result %}
        {{result}}
        {% endif%}
        {% if test %}
        {{test}}
        {% endif%}
    </div>
    <div>
        What chat room would you like to enter?<br>
        <input id="room-name-input" type="text" size="100"><br>
        <input id="room-name-submit" type="button" value="Enter">
    </div>
    <button id="test" value="test">test</button>
    {% for room in rooms %}
    <div> {{forloop.counter}} : {{room}}
        <a href="{% url 'chat:room' room.name %}">입장</a>
        <a href="{% url 'chat:room_remove' room.name %}">제거</a>
    </div>
    {% endfor %}
{% endblock %}
{% block footer %}
    <script>
        document.querySelector('#test').onclick = function(){
                notifySocket.send(
                    JSON.stringify(
                        {
                            'message':'test',
                            'username':'test'
                        }
                    )
                );
                console.log("testsucceed")
            }
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';           
            document.querySelector('#room-name-input').focus();
        };
        
        const notifySocket = new WebSocket(
            'wss://'
            + window.location.host
            + '/ws/notify/'
        );
        notifySocket.onopen = function (e){
            console.log(e.timeStamp)
            notifySocket.send(
                JSON.stringify(
                    {
                        'message':'test',
                        'username':'test'
                    }
                )
            );
            console.log("testsucceed")
        }
    </script>
    
{% endblock %}