{% extends 'layout.html' %}
{% block footer %}
<script>
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    const marketName = "1"
    
    const test_url = ws_scheme+"://ws.channels.honeycombpizza.link/ws/notify/"
    const url = ws_scheme+'://' + window.location.host+ '/ws/market/'+ marketName + '/'
    const home_url = ws_scheme+'://' + window.location.host+ '/ws/notify/'
    const personal =  ws_scheme+'://' + window.location.host+ '/ws/personal/'+ btoa("0eade8a4-24d1-47fd-a231-7cef784ed326") + '/'
    const chatSocket = new WebSocket(home_url);
    chatSocket.onopen = function (e){
        console.log(e)
        console.log(chatSocket)
        console.log(e.timeStamp);
        {% comment %} chatSocket.send(
            JSON.stringify(
                {
                    'message':"connected",
                    'action':"get_trades"
                }
            )
        ); {% endcomment %}
    }
    chatSocket.onmessage = function(e){
        console.log(JSON.parse(e.data))
        datas = JSON.parse(e.data)['datas']
        let context = ''
        for(key in datas){
            let data = datas[key]
            context = context + context_stacker(data['trade_order_id'],data['product_name'],data['user_name'],data['type_name'],data['reg_amount'],data['cur_amount'],data['reg_date'],data['code_id'])
        }
        renderer(context)
    }
    
    function context_stacker(번호,업체,유저이름,타입,목표거래량,남은거래량,일시,상태){
        if(상태==4){
            상태 = "HOLD"
        }else if(상태==5){
            상태 = "MARKET"
        }else{
            상태 = "CANCELED"
        }
        return `
        <div>거래번호 : ${번호},업체 : ${업체}, 거래자 : ${유저이름}, 유형 : ${타입}, 상태 : ${상태}, 목표거래량 : ${목표거래량}, 남은거래량 ${남은거래량}, 일시 : ${일시}  </div>
        
        `
    }
    function renderer(context){
        $('#목록').html(context)
    }


</script>
{% endblock %}
{% block layout %}
<div>주문목록</div>
<div id="목록"></div>
<div style="display:flex;flex-direction:column;">
{% for wallet in  wallets%}
<div style="height:200px;width:800px;">
<div>{{wallet.username}}</div>
<div>내 전종목 수량 {{wallet.my_all_stocks}}</div>
</div>
{{wallet.my_selling_stocks}}
</div>
{% endfor %}
{% endblock %}